/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  font-size: 1rem;
  font-family: "Archivo", sans-serif;
  background-color: #3A4A4F;
}

.padding {
  padding: 60px 0;
}

.active {
  color: #EFC485;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.font-0 {
  font-size: 0;
}

ul li a {
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  color: #B8ADA7;
  margin-right: 30px;
  text-transform: uppercase;
}

.btn {
  font-size: 18px;
  padding: 12px 18px;
  font-size: 12px;
  color: #ffff;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: none;
  outline: 0;
  border: 0;
  display: inline-block;
  border: 4px solid #404645;
  background-color: #F5E3D7;
  color: #404645;
  border-radius: 50px;
  margin-right: 55px;
}

p {
  font-size: 12px;
  color: #D3C6BE;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 28px;
  text-align: left;
  text-transform: capitalize;
  line-height: 1.2;
}

h2, h3, h4, h5, h6 {
  text-transform: capitalize;
}

h1 {
  font-size: 2.1rem;
  font-weight: 400;
  text-transform: capitalize;
  text-align: left;
  margin: 20px 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
  font-weight: 800;
}

h6 {
  font-size: 0.5rem;
}

/* Flex Percentage */
.flex-10 {
  flex: 0 1 10%;
}

.flex-19 {
  flex: 0 1 19%;
}

.flex-23 {
  flex: 0 1 23%;
}

.flex-32 {
  flex: 0 1 32%;
}

.flex-30 {
  flex: 0 1 30%;
}

.flex-35 {
  flex: 0 1 35%;
}

.flex-45 {
  flex: 0 1 45%;
}

.flex-33 {
  flex: 0 1 33%;
}

.flex-35 {
  flex: 0 1 35%;
}

.flex-40 {
  flex: 0 1 40%;
}

.flex-19 {
  flex: 0 1 19%;
}

.flex-23 {
  flex: 0 1 23%;
}

.flex-35 {
  flex: 0 1 35%;
}

.flex-45 {
  flex: 0 1 45%;
}

.flex-46 {
  flex: 0 1 45%;
}

.flex-32 {
  flex: 0 1 32%;
}

.flex-20 {
  flex: 0 1 20%;
}

.flex-48 {
  flex: 0 1 49%;
}

/* FLEX-BOX */
.flex-wrap {
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

.item-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-between {
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

header {
  position: absolute;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 190px;
}

.brand {
  margin-left: 90px;
}

.hero-container {
  max-width: 1100px;
  width: 100%;
  color: #FFFFFF;
  border: 1px solid black;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hero-container {
  background-color: #F5E3D7;
}
.hero-container figure img {
  width: 100%;
  height: 100%;
}
.hero-container .hero-text {
  padding: 20px;
}
.hero-container .hero-text h5 {
  color: #ACA9A6;
  margin-top: 90px;
}
.hero-container .hero-text h1 {
  color: #565351;
}

.myskill {
  background-color: #ECAF4E;
}

.design {
  background-color: #FC683E;
}

.experience {
  background-color: #D49871;
}

.education {
  background-color: #3E3E3E;
}

.office {
  background-color: #161616;
}

.footer {
  background-color: #FFFFFF;
}

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
  }
}/*# sourceMappingURL=style.css.map */